.artboard {
  background: white;
  box-shadow: 0 3px 5px var(--light-grey);
  position: relative;
  z-index: 1;

  & > label {
    content: attr(artboard);
    position: absolute;
    top: -1.25em;
    left: 0;
    font-size: 0.8rem;
    color: var(--grey);
  }
}