.card {
  background: #fff;
  max-width: 400px;
  box-shadow: 0 0.2em 0.3em hsla(0,0%,0%,20%);
  padding: 1rem;
  border-radius: 0.2em;
  border: 1px solid hsl(0,0%,90%);

  & > .card-header {
    & h2, & small {
      margin: 0;
    }

    & > img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      overflow: hidden;
      object-fit: cover;
    }

    & > div {
      margin-left: 1rem;
    }
  }

  & > .card-content {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    & img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }

  & > .card-footer {
    padding-top: 0.5rem;
    border-top: 1px solid #e6e6e6;

    & > button {
      padding: 0.5rem 1rem;
    }

    & time {
      flex: 2;
      text-align: right;
    }
  }

  & date, & time {
    font-size: 0.8rem;
    color: #808080;
  }
}

.mdc-card {
  max-width: 400px;
}