[grid-demo] {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(1fr, 500px);
  --mdc-theme-primary: hsl(220, 60%, 80%);
  --mdc-theme-on-primary: hsl(220, 60%, 30%);

  & > img {
    transition: transform 0.1s ease;
    width: 100%;
    height: 100%;
    object-fit: contain;

    &:hover {
      transform: scale(1.05);
    }
  }

  & > div {
    color: hsl(220, 60%, 90%);
    padding: 2rem;
    &:nth-child(1) { background: hsl(220, 60%, 75%); }
    &:nth-child(2) { background: hsl(220, 60%, 70%); }
    &:nth-child(3) { background: hsl(220, 60%, 65%); }
    &:nth-child(4) { background: hsl(220, 60%, 60%); }
    &:nth-child(5) { background: hsl(220, 60%, 55%); }
    &:nth-child(6) { background: hsl(220, 60%, 50%); }
    &:nth-child(7) { background: hsl(220, 60%, 55%); }
    &:nth-child(7) { background: hsl(220, 60%, 60%); }
    &:nth-child(8) { background: hsl(220, 60%, 65%); }
    &:nth-child(9) { background: hsl(220, 60%, 70%); }
  }

  & .heading {
    grid-row: span 3;
    font-weight: lighter;

    & > h3 {
      font-size: 4rem;
      margin: 0;
    }

    & > p {
      font-size: 1.1rem;
      line-height: 1.75;
    }
  }

  & .message {
    grid-row: span 2;
    grid-column: span 3;
    font-size: 1.4rem;
    font-weight: lighter;
    letter-spacing: 0.1em;
    line-height: 1.6;
  }
}