@import './typography.css';
@import './artboard.css';
@import './card.css';
@import './layout.css';

:root {
  --hue:            210;
  --saturation:     8%;
  --darkest-grey:   hsl(var(--hue) var(--saturation) 5%);
  --darker-grey:    hsl(var(--hue) var(--saturation) 7%);
  --dark-grey:      hsl(var(--hue) var(--saturation) 12%);
  --grey:           hsl(var(--hue) var(--saturation) 30%);
  --mid-grey:       hsl(var(--hue) var(--saturation) 50%);
  --light-grey:     hsl(var(--hue) var(--saturation) 70%);
  --lighter-grey:   hsl(var(--hue) var(--saturation) 85%);
  --lightest-grey:  hsl(var(--hue) var(--saturation) 95%);
  --theme-color:    hotpink;
  --theme-light:    hsl(330, 50%, 70%);
  --bg:             white;
}

body {
  margin: 0;
  padding-left: 4rem;
  background: var(--dark-grey);
  color: var(--lighter-grey);
  font-family: system-ui;
  font-weight: lighter;

  --mdc-theme-primary: hotpink;
  --mdc-theme-secondary: rebeccapurple;
}

img {
  max-width: 100%;
}

[intro] {
  background: var(--dark-grey);
  color: var(--light-grey);
  border: 1px solid var(--darker-grey);
  box-shadow: none;
  padding: 1rem;

  & figure {
    margin: 0;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 2rem;
    padding-right: 3rem;

    & img {
      filter: drop-shadow(0 10px 20px hsla(0,0%,0%,100%));
      margin-top: 1rem;
    }

    & figcaption {
      display: flex;
      flex-direction: column;
    }
  }

  & h1 {
    margin: 0;
    font-size: 4rem;
    font-weight: 300;
    color: var(--lighter-grey);

    &:hover {
      color: var(--lightest-grey);
    }
  }

  & em {
    font-style: normal;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    font-weight: lighter;
    color: var(--lightest-grey);
    margin-bottom: 1rem;
  }
}

dl {
  margin: 2rem 0;

  & > dt {
    color: var(--lightest-grey);
    font-size: 1.4rem;
    font-weight: 300;
    margin: 2rem 0 0.75rem;
  }

  & > dd {
    font-size: 0.9rem;
    font-weight: lighter;
    margin: 0;
    line-height: 1.5;
    color: var(--lighter-grey);
  }
}

.github {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.key {
  font-size: 1.75rem;
  height: 3rem;
  padding: 0 1.25rem;
  display: inline-flex;
  align-items: center;
  border-radius: 0.5rem;
  color: var(--theme-color);
  background-color: var(--grey);
  box-shadow: 0 2px 2px hsla(0,0%,0%,50%);
}