@import './typography.css';
@import './artboard.css';
@import './card.css';
@import './layout.css';

:root {
  --hue:            210;
  --saturation:     10%;
  --darkest-grey:   hsl(var(--hue) var(--saturation) 5%);
  --darker-grey:    hsl(var(--hue) var(--saturation) 10%);
  --dark-grey:      hsl(var(--hue) var(--saturation) 20%);
  --grey:           hsl(var(--hue) var(--saturation) 50%);
  --light-grey:     hsl(var(--hue) var(--saturation) 70%);
  --lighter-grey:   hsl(var(--hue) var(--saturation) 85%);
  --lightest-grey:  hsl(var(--hue) var(--saturation) 95%);
  --theme-color:    hotpink;
  --theme-light:    hsl(330, 50%, 70%);
  --bg:             white;
}

body {
  margin: 0;
  padding-left: 4rem;
  background: var(--dark-grey);
  color: var(--lighter-grey);
  font-family: system-ui;
  font-weight: lighter;

  --mdc-theme-primary: hotpink;
  --mdc-theme-secondary: rebeccapurple;
}

img {
  max-width: 100%;
}

[intro] {
  background: var(--darker-grey);
  box-shadow: none;
  padding: 1rem;

  & > h1 {
    margin: 0;
    font-size: 4rem;
    font-weight: 300;
    color: var(--light-grey);

    &:hover {
      color: var(--lighter-grey);
    }
  }

  & > small {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    font-weight: lighter;
    color: var(--light-grey);
  }
}

dl {
  margin: 2rem 0;

  & > dt {
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
    margin: 2rem 0 0.75rem;
  }

  & > dd {
    font-size: 0.9rem;
    font-weight: lighter;
    margin: 0;
    line-height: 1.5;
    color: var(--light-grey);
  }
}

.github {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.key {
  font-size: 2rem;
  height: 3rem;
  padding: 0 1.25rem;
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--theme-color);
  border-radius: 0.5rem;
  color: var(--theme-color);
}