@import './typography.css';
@import './artboard.css';
@import './card.css';
@import './layout.css';
@import './shapes.css';
@import './multi-select.css';
@import './mock-ad.css';

:root {
  --hue:            210;
  --saturation:     8%;
  --darkest-grey:   hsl(var(--hue) var(--saturation) 5%);
  --darker-grey:    hsl(var(--hue) var(--saturation) 7%);
  --dark-grey:      hsl(var(--hue) var(--saturation) 12%);
  --grey:           hsl(var(--hue) var(--saturation) 30%);
  --mid-grey:       hsl(var(--hue) var(--saturation) 50%);
  --light-grey:     hsl(var(--hue) var(--saturation) 70%);
  --lighter-grey:   hsl(var(--hue) var(--saturation) 85%);
  --lightest-grey:  hsl(var(--hue) var(--saturation) 95%);
  --theme-color:    hotpink;
  --theme-light:    hsl(330, 50%, 70%);
  --bg:             white;
}

html[light] {
  --hue:            210;
  --saturation:     4%;
  --darkest-grey:   hsl(var(--hue) var(--saturation) 90%);
  --darker-grey:    hsl(var(--hue) var(--saturation) 80%);
  --dark-grey:      hsl(var(--hue) var(--saturation) 65%);
  --grey:           hsl(var(--hue) var(--saturation) 40%);
  --mid-grey:       hsl(var(--hue) var(--saturation) 30%);
  --light-grey:     hsl(var(--hue) var(--saturation) 25%);
  --lighter-grey:   hsl(var(--hue) var(--saturation) 20%);
  --lightest-grey:  hsl(var(--hue) var(--saturation) 15%);
  --theme-color:    hotpink;
  --theme-light:    hsl(330, 50%, 70%);
  --bg:             white;

  & :matches(body, .dark) {
    background: var(--darkest-grey);
  }

  & .artboard label {
    color: var(--light-grey);
  }

  & kbd {
    background: var(--darkest-grey);
  }
}

body {
  margin: 0;
  padding-left: 4rem;
  background: var(--dark-grey);
  color: var(--lighter-grey);
  font-family: system-ui;
  font-weight: lighter;

  --mdc-theme-primary: hotpink;
  --mdc-theme-secondary: rebeccapurple;
}

img {
  max-width: 100%;
}

[intro] {
  /*background: var(--dark-grey);
  color: var(--light-grey);
  border: 1px solid var(--darker-grey);*/
  /*box-shadow: none;*/
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;

  & figure {
    margin: 0;
    text-align: center;

    & svg {
      margin-top: 1rem;
      width: 50%;
      object-fit: contain;
    }

    & figcaption {
      display: flex;
      flex-direction: column;
    }
  }

  & h1 {
    margin: 0 0 0.25rem 0;
    font-size: 3rem;
    font-weight: 300;
    color: var(--lighter-grey);

    &:hover {
      color: var(--lightest-grey);
    }
  }

  & h2 {
    font-size: 1rem;
    letter-spacing: 1.5px;
    font-weight: lighter;
    color: var(--lighter-grey);
  }

  & em {
    color: var(--light-grey);
    font-style: normal;
    font-size: 0.8em;
  }

  & > picture {
    flex: 1;
    & > img {
      max-height: 15vh;
      object-fit: contain;
    }
  }

  /*& > [arrows] {
    display: inline-flex;
    align-items: flex-start;
    width: 100%;
  }*/

  & > [filters] {
    width: 100%;
    display: grid;
    grid-gap: 0.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px solid var(--darkest-grey);

    & > div {
      width: 100%;
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      justify-content: space-between;
      grid-gap: 0.5rem;
    }
  }

  & > [social] {
    width: 100%;

    & svg {
      width: 2.5vh;
      fill: var(--grey);

      &:hover {
        fill: var(--theme-color);
      }
    }
  }
}

/*dl {
  margin: 2rem 0;

  & > dt {
    color: var(--lightest-grey);
    font-size: 1.4rem;
    font-weight: 300;
    margin: 2rem 0 0.75rem;
  }

  & > dd {
    font-size: 0.9rem;
    font-weight: lighter;
    margin: 0;
    line-height: 1.5;
    color: var(--lighter-grey);
  }
}*/

/*.github {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}*/

kbd {
  font-weight: bold;
  font-size: 1rem;
  background: var(--lighter-grey);
  border-radius: 0.5rem;
  padding: 0.1em 0.6em 0.2em;
  position: relative;
  bottom: 0.05em;
}

.key {
  font-size: 1.75rem;
  height: 3rem;
  padding: 0 1.25rem;
  margin: 0.5rem 0;
  display: inline-flex;
  align-items: center;
  border-radius: 0.5rem;
  color: white;
  background-color: var(--theme-color);
  box-shadow: 0 2px 5px hsla(0,0%,0%,15%);
}
