@import './typography.css';
@import './artboard.css';
@import './card.css';
@import './layout.css';

:root {
  --darkest-grey: hsl(0,0%,5%);
  --darker-grey: hsl(0,0%,10%);
  --dark-grey: hsl(0,0%,20%);
  --grey: hsl(0,0%,50%);
  --light-grey: hsl(0,0%,80%);
  --lighter-grey: hsl(0,0%,85%);
  --lightest-grey: hsl(0,0%,95%);
  --theme-color: hotpink;
  --theme-light: hsl(330, 50%, 70%);
  --bg: white;
}

body {
  margin: 0;
  background: var(--lightest-grey);
  color: var(--dark-grey);
  font-family: system-ui;

  --mdc-theme-primary: hotpink;
  --mdc-theme-secondary: rebeccapurple;

  & > aside {
    position: relative;
    background: white;
    padding: 1rem;
    border: 1px solid var(--lighter-grey);
    border-top: none;
    border-bottom: none;
  }
}

img {
  max-width: 100%;
}

.github {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}