main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15vw, 1fr));
  grid-auto-rows: minmax(15vw, 1fr);
  grid-auto-flow: dense;
  grid-gap: 1rem 2rem;
  padding: 1rem 2rem;

  & > div {
    &[span2x2] {
      grid-row: span 2;
      grid-column: span 2;
    }

    &[span2x1] {
      grid-column: span 2;
    }

    &[span1x2] {
      grid-row: span 2;
    }

    &[span1x1] {
      grid-row: span 1;
      grid-column: span 1;
    }
  }
}