.outlined-square {
  border: 1px solid var(--light-grey);
  width: 10rem;
  height: 10rem;
}

.filled-circle {
  background: var(--grey);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;

  &.red { background-color: red;  }
  &.green { background-color: green;  }
  &.yellow { background-color: yellow;  }
}