.outlined-square {
  border: 1px solid var(--light-grey);
  width: 10rem;
  height: 10rem;
}

.filled-square {
  background: var(--light-grey);
  width: 4rem;
  height: 4rem;
}

.filled-circle {
  background: var(--grey);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;

  &.small { width: 2.5rem; height: 2.5rem; }
  &.red { background-color: red;  }
  &.green { background-color: green;  }
  &.yellow { background-color: yellow;  }
}

[round-icon] {
  box-sizing: border-box;
  padding: 1rem;
  width: var(--card-size);
  height: var(--card-size);
  border: 5px solid var(--light-grey);
  border-radius: 50%;
  fill: var(--grey);
}