@import "../_variables.css";

:host {
  position: var(--position, 'absolute');
  inset: var(--top) auto auto var(--left);
  background: transparent;
  border: none;
  overflow: visible;
  padding: 0;
  pointer-events: none;
  z-index: var(--layer-3);
  width: var(--width);
  height: var(--height);
  display: grid;
  grid-template-rows: 1fr;
  isolation: isolate;
}

:host > svg {
  position: absolute;
}

:host::backdrop {
  background: none !important;
}
