@import "../_variables.css";

:host rect {
  width: 100%;
  height: 100%;
  vector-effect: non-scaling-stroke;
  stroke: var(--hover-stroke, var(--theme-purple, hsl(267 100% 58%)));
  stroke-width: 1px;
  fill: none;
}

:host > svg {
  z-index: var(--layer-5);
}
