.metatip {
  position: absolute;
  z-index: 999;
  background: white;
  color: hsl(0,0%,30%);
  padding: 0.5rem 0.75rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  box-shadow: 0 0 0.5rem hsla(0,0%,0%,10%);
  border-radius: 0.5rem;

  & > h5 {
    font-size: 1rem;
    font-weight: bolder;
    margin: 0;
  }

  & > small {
    font-size: 0.7rem;
    color: hsl(0,0%,60%);
  }

  & > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.25rem 0.5rem;
    margin: 0.5rem 0 0;
    padding: 0;
    list-style-type: none;
    font-size: 0.8rem;

    & > span[value] {
      text-align: right;
    }
  }
}