tool-pallete {
  position: fixed;
  top: 1rem;
  left: 1rem;

  background: white;
  box-shadow: 0 0.25rem 0.5rem hsla(0,0%,0%,10%);

  & > ol {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    flex-direction: column;

    & > li {
      height: 2.5rem;
      width: 2.5rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
        background: hsl(0,0%,98%);
      }

      & > svg {
        width: 50%;
        fill: var(--dark-grey);

        &.icon-cursor {
          width: 35%;
          fill: white;
          stroke: var(--dark-grey);
        }
      }

      &[data-tool='group'] > svg {
        fill: var(--dark-grey);
      }

      &[data-active=true] {
        background: hsl(0,0%,98%);

        & > svg { fill: var(--theme-color); }
        & > .icon-cursor { stroke: var(--theme-color); }
      }

      &:empty {
        height: 0.25rem;
        background: hsl(0,0%,90%);
      }
    }
  }

  & input[type='color'] {
    width: 100%;
    box-sizing: border-box;
    border: white;
    border-color: var(--dark-grey);
    
    &[value='']::-webkit-color-swatch { 
      background-color: transparent !important; 
      background-image: linear-gradient(135deg, #ffffff 0%,#ffffff 46%,#ff0000 46%,#ff0000 64%,#ffffff 64%,#ffffff 100%);;
      /* background-image: 
        linear-gradient(45deg, #808080 25%, transparent 25%), 
        linear-gradient(-45deg, #808080 25%, transparent 25%), 
        linear-gradient(45deg, transparent 75%, #808080 75%), 
        linear-gradient(-45deg, transparent 75%, #808080 75%);
      background-size: 7px 7px;
      background-position: 0 0, 0 4px, 4px -3px, -10px 0px; */
    }
  }
}

[data-hover=true] {
  outline: 1px dashed var(--lighter-grey);
}

[data-selected=true] {
  outline: 1px solid var(--theme-color);
}

[data-selected=true][contenteditable=true] {
  outline: none;
  caret-color: var(--theme-color);
}
