tool-pallete {
  position: fixed;
  top: 1rem;
  left: 1rem;

  background: white;
  box-shadow: 0 0.25rem 0.5rem hsla(0,0%,0%,10%);

  & > ol {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    flex-direction: column;

    & > li {
      height: 2.5rem;
      width: 2.5rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
        background: hsl(0,0%,98%);
      }

      &[data-active=true] {
        color: var(--theme-color);
        background: hsl(0,0%,98%);
      }

      &:empty {
        height: 0.25rem;
        background: hsl(0,0%,90%);
      }
    }
  }

  & input[type='color'] {
    width: 100%;
    box-sizing: border-box;
  }
}

[data-hover=true] {
  outline: 1px dashed var(--lighter-grey);
}

[data-selected=true] {
  outline: 1px solid var(--theme-color);
}

[data-selected=true][contenteditable=true] {
  outline: none;
  caret-color: hotpink;
}
