@import "../_variables.css";

:host {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99998; 
  font-size: 16px;
}

:host > ol {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 0;
  list-style-type: none;

  &:not([colors]) {
    box-shadow: 0 0.25em 0.5em hsla(0,0%,0%,10%);
  }
}

:host li {
  height: 2.5em;
  width: 2.5em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: var(--theme-bg);

  &[data-tool]:hover {
    cursor: pointer;
  }

  &[data-tool='align'] > svg {
    transform: rotateZ(90deg);
  }

  &[data-active=true] > svg:not(.icon-cursor) { 
    fill: var(--theme-color); 
  }

  &[data-active=true] > .icon-cursor { 
    stroke: var(--theme-color); 
  }

  &:hover:after {
    content: attr(aria-label) "\A" attr(aria-description);
    position: absolute;
    left: 100%;
    top: 0;
    z-index: -1;
    box-shadow: 0 0.1em 0.1em hsla(0,0%,0%,10%);
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding: 0 0.5em;
    background: var(--theme-color);
    color: white;
    font-size: 0.8em;
    white-space: pre;
  }
}

:host [colors] > li {
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0.25em 0.5em hsla(0,0%,0%,10%);

  &:not(:last-child) {
    margin-bottom: 0.5em;
  }
}

:host [colors] li:hover:after {
  top: 0;
}

:host [colors] {
  margin-top: 0.5em;
}

:host li > svg {
  width: 50%;
  fill: var(--theme-icon_color);
}

:host li > svg.icon-cursor {
  width: 35%;
  fill: white;
  stroke: var(--theme-icon_color);
  stroke-width: 2px;
}

:host li[data-tool="search"] > .search {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  z-index: 9999;
}

:host li[data-tool="search"] > .search > input {
  border: none;
  font-size: 1em;
  padding: 0.4em;
  outline: none;
  height: 100%;
  width: 250px;
  box-sizing: border-box;
  caret-color: hotpink;
}

:host [colors] > li > svg {
  position: relative;
  top: -2px;
}

:host [colors] > li > svg > rect:last-child {
  stroke: hsla(0,0%,0%,20%);
}

:host input[type='color'] {
  opacity: 0.01;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 1;
  box-sizing: border-box;
  border: white;
  padding: 0;
}

:host input[type='color']:focus {
  outline: none;
}

:host input[type='color']::-webkit-color-swatch-wrapper { 
  padding: 0;
}

:host input[type='color']::-webkit-color-swatch { 
  border: none;
}

:host input[type='color'][value='']::-webkit-color-swatch { 
  background-color: transparent !important; 
  background-image: linear-gradient(155deg, #ffffff 0%,#ffffff 46%,#ff0000 46%,#ff0000 54%,#ffffff 55%,#ffffff 100%);
}