body {
  min-height: 100vh;
}

[data-hover=true] {
  outline: 1px dashed hsla(330, 80%, 71%, 50%);
}

[data-selected=true] {
  transition: all 0.15s ease;
}

[data-selected-hide=true][data-selected=true]:after {
  display: none;
}

[data-selected-hide=true] {
  outline: none;
}

[data-selected=true][contenteditable=true] {
  outline: none;
  caret-color: hotpink;
}

[data-pinhover=true] {
  cursor: crosshair;
}

[data-metatip=true][data-pinhover=true] {
  cursor: not-allowed;
}
