@import 'ragrid';

:root {
  --darkest-grey: hsl(0,0%,2%);
  --darker-grey: hsl(0,0%,5%);
  --dark-grey: hsl(0,0%,20%);
  --grey: hsl(0,0%,50%);
  --light-grey: hsl(0,0%,60%);
  --lighter-grey: hsl(0,0%,80%);
  --lightest-grey: hsl(0,0%,92%);
}

body {
  margin: 0;
  background: var(--lightest-grey);
  font-family: "Google Sans", system-ui;
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-weight: lighter;
  font-size: 5vmax;
  letter-spacing: 0.2em;
}