[the-basics] {
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));*/
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;

  & > .artboard:first-child {
    grid-row: 1/3;
  }

  & > .artboard:not(:first-child) {
    grid-column: 2/3;
  }
}