html {
  display: grid;
  grid: auto / 100vw;
  place-content: center;
  background: hsl(0 0% 95%);
  overflow: scroll !important;
}

body {
  min-height: 100vh;
  box-shadow: 0 2px 5px hsl(0 0% 0% / 25%) !important;

  &:before {
    content: var(--pageUrl, 'Artboard');
    position: absolute;
    margin-top: -24px;
    display: flex;
    font-size: 14px;
    font-weight: normal;
  }
}

body:not([testing]) [data-selected=true] {
  transition: all 0.15s ease;
}

[data-pseudo-select=true] {
  outline: 1px dashed hsl(267, 100%, 58%);
}

[data-selected-hide=true][data-selected=true]:after {
  display: none;
}

[data-selected=true][contenteditable=true] {
  caret-color: hotpink;
}

[data-measuring=true] {
  cursor: crosshair;
}

[draggable=true] {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  & :matches(a, img) {
    -webkit-user-drag: none !important;
  }
}
